[2013-03-21 11:31] jmrunge opened #1 "Reloading playlists error"
When Mosto receives the notification from the driver that the playlists have been updated, it reloads them, but does not delete or update the ones in memory, it just adds new playlists, resulting in a duplication of playlists.

[2013-03-22 02:53] jmrunge opened #2 "Json Driver"
Json playlists logic should be moved to a specific json driver in order to clean the main code and get the project ready to start working on de mongo driver.

[2013-03-25 02:07] jmrunge commented on #2
Resolved by #3

[2013-03-25 02:07] #2 closed, assigned to jmrunge

[2013-03-26 12:23] jmrunge opened #5 "Caspa Driver"
We need to implement a Caspa Driver based on the json driver to read the playlists from Caspa's mongo db and receive the notifications from insert/update/delete playlists from Caspa via mub/sub.

[2013-03-26 12:26] jmrunge opened #6 "Playlists sync with melted"
For the moment, Playlists are loaded in melted and then never updated.  Only new playlists get loaded.  Mosto should check Melted status when receives an update or delete notification from the driver and modify Melted playlists accordingly.

[2013-03-26 12:29] jmrunge opened #7 "Playlists attr: qeue or schedule"
There should be an attribute on the playlists that tells mosto if the playlist should be qeued (no matter its start time) or scheduled for a specific time.  If qeued, Mosto will look at the time of the playlist just to be aware of the order.  If scheduled, Mosto will schedule a job to start playing this playlist no matter what is it playing at the time of schedule.

[2013-03-26 12:31] jmrunge opened #8 "Pub/Sub Notifications"
Mosto should implement a pub/sub driver for emitting notifications and receiving requests.  It should be done using mub/sub.  For the moment, it should send its status every second and be able to respond to status and list requests.  Also it should send warning and error messages.

[2013-03-26 12:33] jmrunge opened #9 "Polling"
Mosto should be polling its own playlists list and Melted status to be sure that there is allways 4 hs of clips loaded into melted.

[2013-03-26 12:38] jmrunge opened #10 "State persisting"
Mosto should have Melted status in memory (and update it every second) and also, persist it on a Mongo db to be able to give a fast response in case of a fail/recover situation.  By Melted status I mean: list of clips loaded in Melted, mapping between this clips and Mosto's playlists and clips and which clip is being played and at what frame or second.

[2013-03-26 12:39] jmrunge opened #11 "Mosto <-> Caspa models"
Mosto is using its own model (Playlist.js and Media.js in /api)  It should start using Caspa's Playlist and Media models to ensure a stright communication between them.

[2013-03-26 12:44] jmrunge opened #12 "Melted clip names"
Mosto is generating xml to load clips into Melted.  This xml have the name of the clip as file name.  They should be named some way they refer to the playlist id and the clip id for Caspa's driver and the playlist name and the clip name for the Json driver to be able to map them in case Mosto's persisted mapping fails for some reason.

[2013-03-26 12:45] jmrunge opened #13 "Playlists validation"
Mosto should validate every playlist it loads against the playlists already loaded using a library defined by Caspa in order to emit warning and error messages via pub/sub.

[2013-03-26 12:47] jmrunge opened #14 "Error handling"
For the moment, Mosto is not handling Melted (or own) errors.  We should be more defensive about this and start handling them trying to be sure it will not fail and to be able to log them and send them via the pub/sub driver to Caspa.

[2013-03-26 12:49] jmrunge opened #15 "Log"
We should implement some kind of log for Melted.  We should also clean a bit console.log messages it is writing right now as they are used for debug only.

[2013-03-26 12:52] jmrunge opened #16 "Tests"
We should write some tests for Mosto and its drivers to be sure nothing is not being taking care of.  They should be implemented using Mocha.  For examples look at https://github.com/inaes-tic/melted-node/blob/master/mocha.js

[2013-03-26 13:19] jmrunge opened #17 "Update Readme.md"
Update Readme.md with requirements and installation instructions.  If possible, a brief explanation about how it works.

[2013-03-26 22:10] xaiki commented on #12
That's quite important.
We need to normaliza that with gstfs

Niv sardi

El 26/03/2013, a las 08:14, jmrunge notifications@github.com escribió:

[2013-03-26 22:30] xaiki commented on #8
There are many objects, some to update more often than others.
Maybe we only need to be reactive ?

Niv sardi

El 26/03/2013, a las 08:01, jmrunge notifications@github.com escribió:

[2013-03-27 02:54] jmrunge commented on #8
Well, I thought Caspa would suscribe to "status" notifications and update
its gui when it receives something.  Thats why I thought Mosto should send
it status every second.  But if you think its better just to send responses
when queried, we can go with it.  Its just a matter of how will Caspa
implement its "live" monitoring gui.

2013/3/26 Niv Sardi notifications@github.com

[2013-03-27 02:58] jmrunge commented on #12
Do you mean gstfs should name the files the same way Mosto will do it?  I
think gstfs will know only of "clips", not playlists.  But I may be wrong.
I missed the meeting when you talked about it.  For the moment we should at
least make Mosto do this to be able of rebuild its status when recovering
from a fail.  We should keep it in mind when we start working on gstfs.

2013/3/26 Niv Sardi notifica

[2013-03-27 05:04] xaiki commented on #8
yep. define that with tomas.

On 26 March 2013 23:54, jmrunge notifications@github.com wrote:

##

Niv Sardi

[2013-03-28 01:46] jmrunge commented on #1
Closed by #4

[2013-03-28 01:46] #1 closed, assigned to jmrunge

[2013-03-28 01:47] jmrunge commented on #17
Low priority, but if you can do it would be nice.

[2013-03-28 02:55] jmrunge opened #18 "MVCP Driver methods"
For the moment MVCP driver only has one method for controlling playlists: playPlaylist.  It should expose more methods to give Mosto the ability of inserting, deleting, moving or appending clips to Melted's playlist

[2013-03-28 20:59] Lacrymology commented on #8
I agree with @jmrunge, mosto should push it's updates.

a (very basic) implementation of the playlist updates is already in place in my working branch, it's a lovely one-liner: https://github.com/inaes-tic/mbc-mosto/blob/Lacrymology/playlists/mongo-driver/drivers/playlists/mongo-driver.js#L26

[2013-03-28 21:05] Lacrymology commented on #7
I'm not sure I understand the difference.

Let's say I've got a playlist running from 3 to 5.

I receive a playlist that says it needs to start at 4.
I understand that if it's `schedule`d, it'll start at 4:00 regardless.
If it's `queue`d, Will it actually go off at 5?

[2013-03-28 21:14] Lacrymology commented on #5
WIP in https://github.com/inaes-tic/mbc-mosto/blob/Lacrymology/playlists/mongo-driver/drivers/playlists/mongo-driver.js

[2013-03-28 21:27] Lacrymology commented on #10
should I take care of creating and updating this Status, or do you want me to make an API for you to populate every so often?

I could make something that can be instantiated like so:

[code]

and then `MeltedState` could call it's callbacks and populate it's own structure, and then save it to the database.

I don't totally see the point of this, though. Shouldn't Mosto check melted for it's statu

[2013-03-28 21:31] Lacrymology commented on #11
I'm not sure I agree. I mean, Caspa playlists right now have a LOT of metadata which I'm not sure matters, and I'd like to keep Mosto's memory usage as controlled as possible.

The mongo-driver does the job of transforming the database documents into mosto's Playlist and Media objects, isn't that good?

Otherwise all of the mosto code using the Playlist and Media objects will have to be fixed

[2013-03-29 01:12] jmrunge commented on #11
Well, right now there is no much code using Playlist and Media, so it is the time for defining it.  I like what Tom says... Opinions? (Niv?)

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Thu, 28 Mar 2013 14:31:09
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejm

[2013-03-29 04:16] jmrunge commented on #10
We thought it was a good idea to keep the status persisted to be able to
know where exactly was Melted when Mosto got down... And compare to current
status of Melted to take actions in case they are needed.  But I cant think
in this moment what actions should it take.  Like you said, it will read
Melted status directly from Melted and read playlists directly from Mongo
and correct Melted in case i

[2013-03-29 04:27] jmrunge commented on #5
Looks promising! I think there are the 'new' playlist notification and
'remove' playlist notifications still missing, arent they?

2013/3/28 Tomas Neme notifications@github.com

[2013-03-29 04:33] jmrunge commented on #7
Thats the idea.  First, Caspa should warn the operator that he is queuing
an overlaped playlist.  And Mosto should warn too.  But 'queued' or
'scheduled' are mandatory over the time the playlist's time.  We thought on
some kind of automatation (if current playlist ends at 5 and next ends at
5.01, queue it) but finally got to the idea that it was better to be more
explicit about it. We always have

[2013-03-29 04:37] jmrunge commented on #8
Well, we are all ok then.  What I would like is that Mosto's status updates
were done outside Mongo's driver.  Ideally, it should implement a kind of
generic pub/sub driver (like we done with playlist-driver) and then a
mub/sub driver that is called from it.  So, later, we could write some
other kind of pub/sub driver (net?) without having to change the rest of
the code.

2013/3/28 Tomas Neme noti

[2013-03-29 15:59] Lacrymology commented on #8
no, of course. A lot of the code I'm showed will probably have to be moved as well, and the status reports have nothing to do with playlists at all, so it's obvious that can't live within the mongo driver (which's full name would be mongo **playlist** driver)

[2013-03-29 17:16] Lacrymology commented on #11
I think Playlist and Media should be develop on the "agile" philosophy. This is, the client app (Mosto) should define their interfaces as it finds out what it needs from them, and the drivers should evolve to fill them in.

I trust what is in them now is needed by whatever code uses it. I say let it grow as mosto needs grow, and let the driver grow with it.

[2013-03-29 17:22] Lacrymology commented on #5
Yes, there's a problem in caspa's backbone.io notifying, I think it publishes the 'create' message as it receives it, before saving it to the DB. In any case, lacks the _id, which I require here since it's the playlist "name" (which will change to "id" in the near future)

[2013-03-29 17:25] Lacrymology commented on #10
OK, you figure this out with @fabriciocosta and @csrocha, I guess. I'll implement it when the time comes

[2013-03-29 17:37] Lacrymology commented on #7
why not have the frontend handle this by sending a 'delete' (or a move) command on the replaced playlist and just putting the newly replaced playlist in the required place?

In any case, this would go in the not-yet-implemented "player" interface.

[2013-03-29 19:22] jmrunge commented on #7
Its an option, but for initial release, we also have to handle the case that something will go on air from outside Mosto (live or DVD ie). Thtats another reason for schedule a playlist and not qeue it.  And we also should validate everything that comes from Caspa (just in case, defensive progrmming sayed Niv).

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@

[2013-03-29 19:24] jmrunge commented on #10
Sure! Next wednesday we should talk about it. Please Fabricio and Cristian try to think about this.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Fri, 29 Mar 2013 10:25:20
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto]

[2013-03-29 19:26] jmrunge commented on #5
Sure. I think you already filled an issue on Caspa, right? Please Niv, can you assign somebody to it!

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Fri, 29 Mar 2013 10:22:19
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto

[2013-03-29 19:29] jmrunge commented on #11
+1.
Niv?

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Fri, 29 Mar 2013 10:16:52
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Mosto <-> Caspa models (#11)

I think Playlist and Media should be develop on the "agile" p

[2013-03-29 19:31] jmrunge commented on #8
Ok! As for the name, it lives inside the playlists dir, so I think is ok just to name it mongo-driver.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Fri, 29 Mar 2013 08:59:36
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-most

[2013-03-30 06:21] xaiki commented on #7
There are 2 different things here.

I agree with tom: we should handle that state in caspa.
that said, what jm is exposing is elegant too, what i'm concerned about is
how this drags on in history, we started to talk about it in the last
reunion, but I'm not sure how it was settled.

anyway, the 2 points:
1. the common code should check validity, and pull off a flag (in the
message bus, as not to v

[2013-03-30 06:25] xaiki commented on #5
On 29 March 2013 14:56, Juan Martin Runge notifications@github.com wrote:

I shall assign, tom to it, as he knows lots about both.
is this a reason to generate our own ids ?
maybe a hash of the sums of the elements ?

maybe generate it in the middleware (it'll then go back to mongo with it,

## and back up via backbone.io)

Niv Sardi

[2013-03-30 06:27] xaiki commented on #11
+1 but please keep syntax as close as possible to caspa's
i.e. please leave any field that could be in the model in the same place,
and just trim what comes from caspa to your needs.
that will reduce greatly dev-hate on us.

##

Niv Sardi

[2013-03-30 17:29] Lacrymology commented on #11
hm, Mosto has, e.g., Media.fps while Medias in caspa have Media.video.fps. Is that bad?

[2013-03-30 17:30] Lacrymology commented on #5
This is better discussed in it's issue https://github.com/inaes-tic/mbc-playout/issues/52

I have the feeling the ideal would be making a backbone.io connection from mosto to caspa, but Niv said he'd had problems with that

[2013-03-30 17:31] jmrunge commented on #5
Ok! Tom: you are the man! :)

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Fri, 29 Mar 2013 23:25:01
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Caspa Driver (#5)

On 29 March 2013 14:56, Juan Martin Runge notificatio

[2013-03-30 17:32] jmrunge commented on #5
Mmm. I would prefer keep Mosto out of backbone.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Sat, 30 Mar 2013 10:30:43
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Caspa Driver (#5)

This is better discussed in it's

[2013-03-30 17:34] jmrunge commented on #7
Agree! I should fill an issue so we dont forgot about the loop... Next meeting we should try to define the "schedule" and "qeue" attrs finally...

[2013-03-30 17:36] Lacrymology commented on #5
you mean backbone out of mosto?

Yeah, probably. I also have the feeling that linking through backbone.io would make it hard to keep track of memory usage. Right now I just load the db objects (which may become big, specially if there's a lot of short media), load a fraction of the contents into Mosto.Playlist and Mosto.Media, and dismiss it (I can trust the garbage collector, right?)

[2013-03-30 17:40] jmrunge commented on #11
I think not.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Sat, 30 Mar 2013 10:29:12
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Mosto <-> Caspa models (#11)

hm, Mosto has, e.g., Media.fps while Medias in caspa have

[2013-03-30 17:41] jmrunge commented on #5
I think you can trust gc, but we should make some stress tests to be sure.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Sat, 30 Mar 2013 10:36:18
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Caspa Driver (#5)

you me

[2013-03-30 18:33] Lacrymology commented on #11
in any case, I think mosto's Playlist and Media should match as closely as possible melted's concepts of those, not caspa's. Or at least, represent the data it needs to create them.

With the current drivers architecture, Mosto remains db-format agnostic and only the driver needs to know the format handled by caspa / gstfs.

Of course, I'm all for keeping nomenclature as tight as possible, but fro

[2013-03-30 19:46] jmrunge commented on #11
Ok with this!

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Sat, 30 Mar 2013 11:33:42
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Mosto <-> Caspa models (#11)

in any case, I think mosto's Playlist and Media should m

[2013-03-31 02:43] jmrunge opened #19 "Clip to play when nothing is scheduled"
To prevent black screen to air, we need to setup on mosto config a clip (or image) to be played when nothing is scheduled to show on air.

[2013-03-31 02:51] jmrunge opened #20 "Move in driver to config file"
The driver to use (json or mongo) should be configured on config.json and be read from it.

[2013-03-31 04:54] xaiki commented on #5
the problem is this:
- if you connect dirrectly backbone.io (I.e. via websockets) you break a
  design rule: mosto and caspa should exist independently.
- if you connect via pubsub (i.e. pushing the pubsub messages back to a new
  backbone.io) you only use a part of backbone.io (the backend) and have lots
  of code that is there to work with the frontend that is useless.

anyway, if we don't viola

[2013-03-31 04:55] xaiki commented on #11
+1

##

Niv Sardi

[2013-03-31 04:59] jmrunge commented on #5
I think its the best way: pub/sub without backbone and describing the most possible what changed...

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Sat, 30 Mar 2013 21:54:37
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] C

[2013-04-01 14:28] Lacrymology commented on #5
I say we move this talk to a live meeting.

[2013-04-01 14:52] jmrunge commented on #5
Ok! Can it be wednesday morning? Or after lunch (14 hs)?

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Mon, 01 Apr 2013 07:28:08
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Caspa Driver (#5)

I say we move this talk

[2013-04-01 22:35] xaiki commented on #5
On 1 April 2013 10:22, Juan Martin Runge notifications@github.com wrote:

we shall all be together from morning.
I think fabricio's TZ prefers 14h though.

[2013-04-02 01:04] jmrunge commented on #5
14 hs then. Ok?
Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Mon, 01 Apr 2013 15:35:39
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Caspa Driver (#5)

On 1 April 2013 10:22, Juan Martin Runge notifications@github.com w

[2013-04-03 13:45] jmrunge commented on #16
Added pull request #21 with basic test for example.

[2013-04-03 13:48] jmrunge opened #22 "MVCP Server not started"
Mosto never gives an error or warning if MVCP server is not running

[2013-04-03 13:50] jmrunge opened #23 "Drivers initialization should be non blocking"
Right now, if MVCP driver fails to load, the other drivers wont get loaded either.  The drivers should be initialized async (non blocking) and a command queue should be implemented for the MVCP server.

[2013-04-03 19:04] jmrunge opened #25 "Replace mub/sub"
As Tom find out mub/sub was too slow (til 8 sec of delay) we need to change to a real time pub/sub engine.  Please find and test some, pick one and replace current mub/sub implementation in mongo driver.

[2013-04-03 19:42] jmrunge commented on #22
Closed #24

[2013-04-03 19:42] #22 closed, assigned to jmrunge

[2013-04-03 19:56] xaiki commented on #25
redis.

On 3 April 2013 16:04, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-03 20:04] jmrunge commented on #25
Please publish current version of driver before starting to work on this
issue and open new branch for it.

2013/4/3 Niv Sardi notifications@github.com

[2013-04-03 21:39] Lacrymology commented on #25
Current code can be seen in brach `Lacrymology/playlists/mongo-driver`.

There's a lot of stuff that shouldn't be where it is, like the DB setup and connection code, I'm working on moving that out and cleaning it up

[2013-04-03 23:28] jmrunge commented on #25
Ok. Please pull request as soon as you can and then move on to replacing mubsub on a new branch.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Wed, 03 Apr 2013 14:39:29
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Rep

[2013-04-05 02:08] jmrunge opened #27 "Replace json responses from MVCP driver with API objects"
Right now, getServerStatus and getServerPlaylist from MVCP driver return json objects.  They should be replaced with standard API objects: Playlist and Media.  If neccesary, update the API objects to reflect the attributes of the json objects.

[2013-04-05 02:09] jmrunge commented on #27
Depends on #26

[2013-04-05 13:14] jmrunge commented on #18
Closed #26

[2013-04-05 13:14] #18 closed, assigned to jmrunge

[2013-04-05 19:03] Lacrymology commented on #20
Fixed in #28

[2013-04-05 19:03] #20 closed, assigned to Lacrymology

[2013-04-05 23:14] jmrunge commented on #16
@csrocha Could you explain how to use your Makefile for testing? Tried "make test" and throwed error.

[2013-04-05 23:15] jmrunge commented on #17
@csrocha Nice job! Would be nice to have mosto's install instructions too.  And perhaps a how-to for running the tests?

[2013-04-06 09:26] csrocha commented on #16
@jmrunge What errors do you get? I tried it and did have some errors on the absolute file paths, your absolute paths! But that'll solve it soon. Can you show me the output after "make test"?

[2013-04-06 10:15] csrocha commented on #16
@jmrunge I'm changing test code. First absolute paths, but now the logic. But I need your help.

You have a really big one test. I prefer shorts and simple: One for connection only; Other for connect and check status; Other for connect and play a playlist; Could you prepare these? Now I will send a pull request with simple but useful changes. If you break your test in short unit-test and append ne

[2013-04-06 15:28] csrocha commented on #16
@jmrunge I just understand your test organization. They have hierarchical structure. That's ok.

Now, to get all paths relative to mbc-mosto root, I had create a .png file to use in a playlist (.mtl). And I append a line in Makefile to create .avi and .mp4 from this png. Then will be a .png, .avi, .mp4, .mtl files available for testing in test/images, test/videos, and test/playlists directories.

[2013-04-06 16:49] jmrunge commented on #16
Yes, indeed we need to setup the root to melted if we will be using
relative paths.  I've thought that melted init should be ouside mosto, but
we can have it inside it.  What about an init script that mosto could run?
This script should do only one thing: Start melted.  And it should be
runned from the error handler in mosto that handles mvcp connection error.
It can be a single command line in mo

[2013-04-06 16:53] jmrunge commented on #5
Fixed by #28

[2013-04-06 16:53] #5 closed, assigned to Lacrymology

[2013-04-06 16:54] jmrunge commented on #11
Done in #28

[2013-04-06 16:54] #11 closed, assigned to Lacrymology

[2013-04-08 12:44] jmrunge opened #32 "Move to promises"
Change mvcp-server invocations from callbacks to promises

[2013-04-08 12:50] jmrunge commented on #14
Fixed in 182bbdc3d3a5779f9278f1577203dd11614c096a

[2013-04-08 12:51] #14 closed, assigned to jmrunge

[2013-04-08 14:59] xaiki commented on #32
this is actually a bigger discution, for further ahead,
callback is an anti-pattern in javascript, we have many options:
- pub/sub (aka, eventEmitter)
- promise|A
- your favourite pattern.

## we should decide on one and move all code to it.

Niv Sardi

[2013-04-08 15:01] jmrunge commented on #32
Well, melted-node uses promises with the Q library.  I would continue with
this approach.  But after 17A.  There is much code to migrate right now and
dont want to introduce a stopper feature.

2013/4/8 Niv Sardi notifications@github.com

[2013-04-08 15:04] xaiki commented on #32
this is clearly for #sip.

On 8 April 2013 12:01, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-08 15:53] Lacrymology commented on #32
wait, just to clarify:
- the `object.method(param, param2, callback)` pattern is good, for one shots
- the `object.setCallback(callback); object.method(param, param2) // this calls callback` pattern is bad both for one-shots and events
- the `object.on('event', callback)` is ideal for the above situation (by "ideal" I mean "standard". Also I think after 17A we should migrate the playlist driver to

[2013-04-08 15:58] xaiki commented on #32
On 8 April 2013 12:53, Tomas Neme notifications@github.com wrote:

[2013-04-08 16:00] xaiki commented on #32
On 8 April 2013 12:58, Niv Sardi xaiki@evilgiggle.com wrote:

promises make you write
object.method(param, param2)
.then().object.method2(param3)
.then().object.method3(param4)
.error(/\* handle errors */)

[2013-04-08 16:20] jmrunge commented on #32
You can look at melted-node to see promises in action.

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Mon, 08 Apr 2013 09:00:24
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Move to promises (#32)

On 8 April 2013 12:58,

[2013-04-08 17:54] jmrunge opened #33 "Add "isConnected" method to mvcp server"
We should be able to ask mvcp server if it is connected or not.  Right now, the only way of knowing it is hacking down to melted implementation (hakish) or by the connect error handler.  Also it would be nice if this method "pings" mvcp server to be sure it is connected.

[2013-04-08 18:10] jmrunge opened #34 "Silence log on tests"
Logging on tests should be silenced except for failed tests.

[2013-04-08 23:24] Lacrymology commented on #32
Well, I don't see this is much of a problem. About 80% of javascript code is that, and for an antipattern, it's pretty descriptive and readable. Besides, it's standard, which is about the second most important thing, right after  [backwards binary compatibility](http://lkml.org/lkml/2012/3/8/495)

[2013-04-09 00:15] Lacrymology commented on #34
this should depend on #15

[2013-04-09 00:19] Lacrymology commented on #15
We should move all console.log messages to https://github.com/flatiron/winston

[2013-04-09 00:20] Lacrymology commented on #34
https://github.com/inaes-tic/mbc-common/issues/1

[2013-04-09 00:20] Lacrymology commented on #15
https://github.com/inaes-tic/mbc-common/issues/1

[2013-04-09 02:25] jmrunge commented on #15
Agree, assigned @csrocha to this issue if it is ok with you.

2013/4/8 Tomas Neme notifications@github.com

[2013-04-09 02:26] jmrunge commented on #34
Sure.

2013/4/8 Tomas Neme notifications@github.com

[2013-04-09 02:26] jmrunge commented on #15
Depends on https://github.com/inaes-tic/mbc-common/issues/1

[2013-04-09 02:29] jmrunge commented on #32
Well, I really thing promised code looks prettier and more easy to
understand than callbacks.  Specially when you have callback from callback
from callback, like you do with melted when trying to do sync commands on
an async language.  And sure does easier error handling.

2013/4/8 Tomas Neme notifications@github.com

[2013-04-09 03:00] jmrunge opened #35 "Mosto broken by mongodb install"
Cant run mosto.  Did npm install.  Failed:

jmrunge@wks-it3-brc:~/mbc/mbc-mosto$ npm install
npm http GET https://registry.npmjs.org/moment/2.0.0
npm http GET https://registry.npmjs.org/mongoskin
npm http 304 https://registry.npmjs.org/mongoskin
npm http 200 https://registry.npmjs.org/moment/2.0.0
npm http GET https://registry.npmjs.org/moment/-/moment-2.0.0.tgz
npm http 200 https://registry.npmjs

[2013-04-09 03:02] jmrunge commented on #35
Tried npm install node-gyp:

jmrunge@wks-it3-brc:~/mbc/mbc-mosto$ npm install node-gyp
npm http GET https://registry.npmjs.org/node-gyp
npm http 200 https://registry.npmjs.org/node-gyp
npm http GET https://registry.npmjs.org/node-gyp/-/node-gyp-0.9.5.tgz
npm http 200 https://registry.npmjs.org/node-gyp/-/node-gyp-0.9.5.tgz
npm http GET https://registry.npmjs.org/glob
npm http GET https://registry.

[2013-04-09 03:17] Lacrymology commented on #35
very weird, this worked for me with node 0.6.x

[2013-04-09 03:20] Lacrymology commented on #35
try checking for a version of node-gyp compatible with node 0.6?

[2013-04-09 03:41] jmrunge commented on #35
Fixed node-gyp issue.  Had to upgrade to node 0.8.1.  Deleted node_modules/mongoskin and node_modules/mubsub.  Did npm install again. Now without errors.

But when I run "node mosto.js" I get following exception:

TypeError: Cannot read property 'state' of null
    at Connection.disconnected (/home/jmrunge/mbc/mbc-mosto/node_modules/mubsub/lib/connection.js:16:22)
    at Promise.Channel.subscribe.

[2013-04-09 11:53] jmrunge commented on #17
Can you add node version >= 0.8.1?  And node-gyp to be installed.  Mongodb breaks on install (with npm install) without it.
Thanks!

[2013-04-09 12:01] jmrunge opened #36 "Add playlists request to playlists driver"
Playlists driver should have a method to be queried from core that returns requested playlists.  This method should receive a from date, a range of hours and a callback (further we will move it to promises).  From date will be optional, if not present use now.  Range will be also optional, if not present use configured range.  Callback is mandatory.
Also, on driver start, it should receive the ran

[2013-04-09 12:03] jmrunge opened #37 "Replicate changes from mongo driver to json driver"
Replicate all changes made to mongo driver into json driver, in order to keep them changeable.

[2013-04-09 12:14] jmrunge commented on #25
Changed milostone to Release.  Please focus on the issues for Malbec Day.

[2013-04-09 12:15] jmrunge commented on #10
Changed milestone to Release.

[2013-04-09 14:57] Lacrymology commented on #35
do you have mongodb installed and running? it seems like you don't

[2013-04-09 16:14] xaiki commented on #33
On 8 April 2013 14:54, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-09 16:16] xaiki commented on #32
let's put this on the agenda for tomorrow.

On 8 April 2013 23:29, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-09 16:18] xaiki commented on #37
On 9 April 2013 09:03, Juan Martin Runge notifications@github.com wrote:

that is basically:
- write a 'in driver' test.
- make json driver pass the test.

##

Niv Sardi

[2013-04-09 16:19] xaiki commented on #35
we probably need a better error message here though.

On 9 April 2013 11:57, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-04-09 16:45] jmrunge commented on #35
Sure I dont. I didnt saw anywhere any message telling that mongodb should be configured or started.  Can you provide instructions?

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Tue, 09 Apr 2013 09:19:05
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail

[2013-04-09 16:46] jmrunge commented on #37
Agree!

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Tue, 09 Apr 2013 09:18:06
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Replicate changes from mongo driver to json driver
 (#37)

On 9 April 2013 09:03, Juan Martin

[2013-04-09 16:47] jmrunge commented on #32
Ok

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Tue, 09 Apr 2013 09:16:13
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Move to promises (#32)

let's put this on the agenda for tomorrow.

On 8 April 2013 23:29, Juan Ma

[2013-04-09 16:48] jmrunge commented on #33
Thats what I had in mind.

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Tue, 09 Apr 2013 09:14:11
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Add "isConnected" method to mvcp server (#33)

On 8 April 2013 14:54, Juan

[2013-04-09 16:52] xaiki commented on #35
On 9 April 2013 13:45, Juan Martin Runge notifications@github.com wrote:

... mubsub == MONGOubsub, you need mongo:

# apt-get install mongodb

##

Niv Sardi

[2013-04-09 17:42] jmrunge commented on #35
Sounds logic... But would be nice to explicit in the commits or in the PR
message what is needed... node 0.8, node-gyp, mongodb.  And how to install
it.  Right now Im downloading mongo.  Will update issue as soon as I get it
running.

2013/4/9 Niv Sardi notifications@github.com

[2013-04-09 17:55] jmrunge commented on #35
Well, now I have mongodb installed and running, but still got this error:

mbc-mosto: [INFO] Reading configuration from ./config.json
mbc-mosto: [INFO] Creating server for type [melted]
mbc-mosto: [INFO] Creating server instance [localhost:5250]
mbc-mosto: [INFO] Server instance created [localhost:5250]
mbc-mosto: [INFO] Creating playlists driver for type [mongo]
mbc-mosto: [INFO] Creating mongodb

[2013-04-09 17:56] jmrunge commented on #35
Was in the first run only... Further runs throwed no errors.  Clues?

[2013-04-09 17:57] jmrunge commented on #17
Please add also MongoDB requirement (sudo apt-get install mongodb)

[2013-04-09 18:29] Lacrymology commented on #35
no clue.. weird but if it keeps working from now on, this should be done

[2013-04-09 19:01] Lacrymology commented on #32
I just added [a library called async](https://github.com/caolan/async#map) to mosto dependencies. It may help you with "sync"ing things

I used the `async.map(array, iterator, callback)` function that calls your callback with a list of the async results of your iterator function

[2013-04-09 19:28] jmrunge commented on #35
Closed #35

[2013-04-09 19:28] #35 closed, assigned to Lacrymology

[2013-04-09 19:34] jmrunge commented on #32
Its in agenda for tomorrow

2013/4/9 Tomas Neme notifications@github.com

[2013-04-10 20:25] jmrunge commented on #17
Closed #17

[2013-04-10 20:25] #17 closed, assigned to csrocha

[2013-04-10 21:37] Lacrymology opened #41 "Migrate playlist driver to EventEmitter"
We should lose `register[New|Update|Remove]PlaylistListener` methods and make the playlist driver into an `EventEmitter`

[2013-04-11 03:13] jmrunge opened #42 "Replace from, to parameters in mongo driver with from, window form"
Now, functions from mongo driver receive boundaries in the from(date) and to(date) form.  They will need to change to from(date) to window(hours).

Ie: from 10:00:15, window +4hs

[2013-04-11 03:15] jmrunge opened #43 "Mongo driver error handling"
Mongo driver should have a proper error handling and send unresolved errors to Mosto, so it can take necessary actions and inform Caspa via the pub/sub driver.

[2013-04-11 04:13] jmrunge commented on #36
Fixed in #38

[2013-04-11 04:13] jmrunge commented on #36
Closed #36

[2013-04-11 04:13] #36 closed, assigned to Lacrymology

[2013-04-11 18:08] Lacrymology opened #44 "Expose new mongo playlist driver functionality on the generic playlist driver"
And write tests for it. Take them from the `mongo-playlist-driver` test

[2013-04-11 18:08] Lacrymology commented on #37
This depends on #44

[2013-04-12 17:16] Lacrymology opened #50 "Test playlist driver setWindow parameters"
More comprehensive testing on the `setWindow` parameters should be implemented.

There's some difficulty on testing stuff that assume `now` and calculate it on the fly

[2013-04-14 14:52] csrocha commented on #16
@jmrunge : You can see the troubles about your last comment in #39 . I will close this issue and create new one.

[2013-04-14 14:56] csrocha opened #55 "Mosto must start, stop and setup Melted"
Yes, indeed we need to setup the root to melted if we will be using
relative paths.  I've thought that melted init should be ouside mosto, but
we can have it inside it.  What about an init script that mosto could run?
This script should do only one thing: Start melted.  And it should be
runned from the error handler in mosto that handles mvcp connection error.
It can be a single command line in mo

[2013-04-14 15:00] csrocha commented on #16
The new issue is #55 .

[2013-04-14 15:00] #16 closed, assigned to csrocha

[2013-04-14 16:56] Lacrymology opened #56 "Should the status driver setup a "mosto down" status at startup?"
Should an "alert" type status be set up at status driver intiialization, to be kept until the next status update comes? I realized using the last saved status is not very.. professional? realistic?

[2013-04-15 20:07] xaiki opened #60 "jslint pre-commit hook."
github should have a hook that kills you and kittens everytime the code doesn't pass jslint.

[2013-04-16 02:45] jmrunge commented on #56
I think we cant use the last saved status... But am not sure if there should be an "alert" status... Absence of status wont be enough? From Caspa side: "no status". Just thinking...

[2013-04-16 02:49] jmrunge commented on #55
I think this should be part of the mvcp driver.  And be in mvcp driver config file.  An init script that kills and restarts melted.  And units (and consumers for each unit) to add (I think in the future we may have more than one unit, ie: deckling for air and avformat for streaming).  Im planning to add server methods to mvcp driver (ULS, SET, GET, etc) after Malbec Day.  Will fill an issue with m

[2013-04-16 02:50] jmrunge opened #61 "Add mvcp server methods to mvcp driver"
Now only unit methods are implemented.  We should implement all methods defined in MVCP protocol.

[2013-04-16 02:51] jmrunge commented on #50
I would prefer to use setTimeSpan method.  But both should be well tested.

[2013-04-16 02:58] Lacrymology commented on #50
`mongo_driver.prototype.setTimeSpan = function(timespan) { this.setWindow({span: timespan}) }`

not much to test there

[2013-04-16 02:59] jmrunge commented on #12
Fixed in #46

[2013-04-16 02:59] #12 closed, assigned to jmrunge

[2013-04-16 11:46] jmrunge commented on #50
Ok! and setWindow? Is it still alive?

2013/4/15 Tomas Neme notifications@github.com

[2013-04-16 14:13] Lacrymology commented on #50
As Far As I Can See, there's no `setTimeSpan` function at all, I was just saying that if we write it, that would be it.

the functionality you want right now is achieved by `.setWindow({span: x})`, but I can make the setTimeSpan utility function if you want.

In any case, it'll be @fabriciocosta using it

[2013-04-17 01:21] jmrunge commented on #50
Let it be by now... Just wondering if it was tested, due to this issue you
setted up...

2013/4/16 Tomas Neme notifications@github.com

[2013-04-17 20:08] jmrunge commented on #56
Status emitter (#63) does something like this, sending everything as undefined except for melted status: stopped.

[2013-04-17 20:09] jmrunge commented on #50
Just one doubt... Is it tested or not finally this functionality?

[2013-04-17 20:11] jmrunge commented on #44
This was done in #38 or in #28, doesnt?  If so, please close this issue... Thanks!

[2013-04-17 20:11] jmrunge commented on #43
How are we doing with this?

[2013-04-17 20:12] jmrunge opened #65 "Emit error events"
Mosto should emit error events for the pubsub driver to listen and send to Caspa.

[2013-04-17 20:13] jmrunge commented on #42
Is this done? If so, please mention PR and close issue.  Thanks.

[2013-04-17 20:14] jmrunge commented on #33
Kind of this was done in #39.  I will close this issue since Im starting to rewrite melted-node to use connection pool, so it will become useless.

[2013-04-17 20:15] jmrunge commented on #33
Closed #33

[2013-04-17 20:15] #33 closed, assigned to jmrunge

[2013-04-17 20:15] jmrunge commented on #27
Done in #63

[2013-04-17 20:16] jmrunge commented on #27
Closed #27

[2013-04-17 20:16] #27 closed, assigned to jmrunge

[2013-04-17 20:16] jmrunge commented on #23
Done in #39

[2013-04-17 20:16] jmrunge commented on #23
Closed #23

[2013-04-17 20:16] #23 closed, assigned to jmrunge

[2013-04-17 20:18] jmrunge commented on #7
What happened with this finally? @fabriciocosta, @Lacrymology?

[2013-04-17 20:51] jmrunge opened #66 "Test mongo driver to work with Pieces sent from Caspa"
Caspa fixed its code to save Pieces inside Ocurrences.  We need to test our driver to see if it works ok with this fix.

[2013-04-17 22:05] Lacrymology commented on #50
no, not completely. I do trust the function, thought

[2013-04-17 22:30] jmrunge commented on #50
Ok. Please try to test it more and let me know. Thanks!

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Wed, 17 Apr 2013 15:05:35
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Test playlist driver setWindow parameters (#

[2013-04-18 15:35] Lacrymology opened #68 "Problems with async tests"
Tests seem to be running in parallel, and many tests conflict with each other.

Something should be done about this ASAP

[2013-04-18 16:05] Lacrymology commented on #7
Right now all playlists are set up with the queue method, I think.There's no way in the frontend to handle this right now

[2013-04-18 16:08] Lacrymology commented on #42
Now it works like this:

[code]

[2013-04-18 16:09] Lacrymology commented on #42
Fixed in #62

[2013-04-18 16:09] #42 closed, assigned to Lacrymology

[2013-04-18 16:11] Lacrymology commented on #44
No, I never got around to the JSON driver!

[2013-04-18 17:35] jmrunge commented on #68
@csroca was trying to fix this

2013/4/18 Tomas Neme notifications@github.com

[2013-04-18 21:20] jmrunge opened #70 "Set NODE_CONFIG_DIR in Makefile"
NODE_CONFIG_DIR=$(pwd)"/node_modules/mbc-common/config"

[2013-04-19 14:26] jmrunge opened #71 "Move default snap or fixed attr of playlists to config"
Please move out from mongo driver to playlists driver config file the hardcoded value "snap" when creating a playlist.  Also, Caspa does handle this?

[2013-04-19 14:51] jmrunge opened #72 "Call addPlaylists when update finds the playlist does not exists"
Please call addPlaylists (do the neccessary changes) when adding a playlists from "update" method instead of pushing it directly to the playlists array.

[2013-04-19 14:53] jmrunge opened #73 "Review BlackMedia creation"
We should be sure we always create Blackmedia the same way, I believe a helper function would suffice.

[2013-04-19 16:46] #70 closed, assigned to csrocha

[2013-04-19 21:23] fabriciocosta opened #76 "Always doing a loadClip... we need a full StatusMelted"
I can see a blank image between each clip! We are doing loadClip because we need the relative timer clock, but it doesn't work. Why? Because we need a StatusMelted with frame accurate info and length.

[2013-04-19 21:25] fabriciocosta opened #77 "Instead of make clearPlaylist/loadClip/appendClip, do a cleanPlaylist/appendClip"
Important for fluent stream.

[2013-04-19 21:27] fabriciocosta opened #78 "Use the goto command to position the expected clip with frame accuracy"
Important when we have for example a 2 hours movie and we need to restart mosto. Mosto must position the clip in the expected frame.

[2013-04-19 21:29] fabriciocosta opened #79 "Status , fix the send status for caspa."

[2013-04-20 04:32] xaiki commented on #73
nope, it should come from the config.
and be changeable.

On 19 April 2013 11:53, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-20 04:43] xaiki commented on #78
this is fixed here:
https://github.com/inaes-tic/mbc-mosto/blob/xaiki/wip/mosto.js#L139

[2013-04-20 13:12] jmrunge commented on #73
Sure, the clip does comes from config, but I ment the way it is created...

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Fri, 19 Apr 2013 21:32:26
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Review BlackMedia creation

[2013-04-20 15:14] Lacrymology opened #80 "playlist ids are ints not strings"
We're having a problem here. ping @fabriciocosta and @jmrunge

The status driver is returning playlists ids as strings. This means that [this code](https://github.com/inaes-tic/mbc-mosto/blob/master/mosto.js#L380) never tests true, and that the code below doesn't even work right, returns different things depending on the state, but `i` ends up always as `self.playlists.length`, previous is whateve

[2013-04-20 15:49] Lacrymology commented on #80
I made the caspa fix, and it works

[2013-04-20 15:52] Lacrymology commented on #80
Still, @fabriciocosta should check that code, because if no playlist matches in `self.playlists`, previous and next will be broken

[2013-04-20 20:51] xaiki commented on #71
caspa handles this, and you should use the exact same code.
this has been discussed.

[2013-04-20 20:53] xaiki commented on #68
@csrocha any news ?

On 18 April 2013 14:35, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-20 20:54] xaiki commented on #7
now there is.
we share a common conf.
make it a conf value an #WIN

On 18 April 2013 13:05, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-04-20 20:59] jmrunge commented on #7
@Lacrymology ? :)

[2013-04-20 21:00] jmrunge commented on #68
Nodeunit says it runs serial... Perhaps give it a try?

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Sat, 20 Apr 2013 13:53:13
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Problems with async tests (#68)

@csrocha any

[2013-04-20 21:01] jmrunge commented on #71
Ok, @Lacrymology could take a look at this?

[2013-04-20 21:05] xaiki commented on #41
done, ain it ?

On 10 April 2013 18:37, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-04-20 21:19] xaiki commented on #37
status?

On 11 April 2013 15:08, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-04-20 21:30] xaiki commented on #71
@jmrunge please kill your quoting on blackberry, it look ugly both in emails and github.

this is for @fabriciocosta as it's his code.

[2013-04-20 21:31] xaiki commented on #71
hum, it should be in mosto.js, this behaviour is duplicated in json and mongo driver.

[2013-04-20 21:44] jmrunge commented on #80
Broken or undefiend? They should be undefined and a BIG WARNING :)

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Sat, 20 Apr 2013 08:52:24
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] playlist ids are ints not strings

[2013-04-20 21:45] jmrunge commented on #41
As spoken yesterday, Tom will work with this next days...

Enviado desde mi BlackBerry

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Sat, 20 Apr 2013 14:05:37
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Subject: Re: [mbc-mosto] Migrate playlist driver to EventEmitter (#41)

done, ain it ?

On 10 April 2013 18

[2013-04-20 23:20] Lacrymology opened #82 "node server tests don't pass"
I think there were some assumptions about startup in mvcp-server-tests that @jmrunge was making in his tests that don't hold anymore, or something.

Please check and fix the tests.

[2013-04-20 23:21] Lacrymology commented on #41
I'll do this tomorrow

[2013-04-20 23:23] Lacrymology commented on #80
The code is broken, i.e.: it returns the very last clip in the loaded playlists as "previous" whatever it is, and next as undefined, when the "current" id doesn't match any loaded playlists

[2013-04-21 00:23] jmrunge commented on #80
Ok. First, this shoul never happend! And second, if it does happen, it should be taken care of.

Enviado desde mi BlackBerry

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Sat, 20 Apr 2013 16:23:09
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] play

[2013-04-21 04:51] Lacrymology commented on #80
I can imagine a couple of moments when this could happen. When mosto
restarts after a breakdown, if melted´s still running, this might happen at
some point, if at any point the status is brought before playlists are
loaded.

The strings-only thing is also important, because otherwise, if mosto
handles this (by, for example, overriding the playlist melted says to be
playing with it's own), a loop c

[2013-04-21 05:09] Lacrymology commented on #71
I don't know about that. JSON and mongo drivers handle different formats, so the way they read the "snap" or "fixed" is driver-dependant.

Right now, nobody handles this, this is why there's a hardcoded default in the drivers. I don't know exactly what's the best way to handle this until we know what's the desired interface for generating "fixed" playlists. AFAICS, it should be an interface differ

[2013-04-21 05:12] Lacrymology commented on #68
The people on the mocha mailing list assure me it runs serially as well, I think we need to make sure this is our problem.

[2013-04-21 05:12] Lacrymology commented on #68
I have the theory that not deleting the objects created for tests might be the source of some of our testing headaches

[2013-04-21 05:16] Lacrymology commented on #7
setting a default is not "handling" it. "handling" it would be having a way of creating playlists with different settings on this!

I mean, all playlists right now are ensured to be non-overlapping by the frontend (and will be double-checked by our validation API when we finally have one), and there's no way of generating a playlist that cuts onto another one.

[2013-04-21 05:16] Lacrymology commented on #7
Also, what's the difference between this and the values discussed in #71 ?

[2013-04-21 20:47] xaiki commented on #71
On 21 April 2013 02:09, Tomas Neme notifications@github.com wrote:

different input formats,... snap or fixed are clearly output formats, that
by a driver's definition, should be identical.

making it a config value is costless, and effortless, doesn't change
anything in the current code nor state of affairs.

because it comes at 0 cost...

no we don't, we have 1m scheduling acurracy, but with sna

[2013-04-21 20:51] xaiki commented on #7
#71 is about cilps in playlists,
this is about playlists between each other.

[2013-04-21 21:07] Lacrymology commented on #71
For some reason your email client breaks github formatting..

Then you're saying.. what? that mosto should assume that if no value is present, then it must be the default?

No, this should actually go to the `api.Playlist` module. `this.mode = mode || config.playlist_default_mode` or something

yes, you're confusing my answers. If we change the code from `..., "fixed")` to `..., config.playlist_de

[2013-04-22 20:35] csrocha opened #84 "Error: global leaks detected: sched_clip, ex_start, ex_end, playlist"
Los test de mosto declaran este error porque no se ha instanciado localmente o globalmente estas variables. Esto ocurre en mosto.js.

[2013-04-23 03:36] jmrunge commented on #84
It will get fixed when #86 gets merged.

[2013-04-23 03:38] jmrunge commented on #82
Well, they do pass in master... Could you give more details?

[2013-04-23 03:39] jmrunge commented on #79
Could we have a description for this @fabriciocosta ?

[2013-04-23 03:40] jmrunge commented on #76
Its done in PR #86 Please review and merge to get this resolved.

[2013-04-23 12:43] Lacrymology commented on #82
we'll wait for @csrocha's tests fixes

[2013-04-23 12:45] Lacrymology commented on #79
I think this is fixed now, with  #81 and https://github.com/inaes-tic/mbc-caspa/pull/119

[2013-04-23 12:46] jmrunge commented on #79
Can you confirm please so we can close issue?

2013/4/23 Tomas Neme notifications@github.com

[2013-04-23 14:10] jmrunge commented on #84
Fixed by #86

[2013-04-23 14:11] jmrunge commented on #84
Closed #84

[2013-04-23 14:11] #84 closed, assigned to jmrunge

[2013-04-23 14:11] jmrunge commented on #82
Assigned to @csrocha

[2013-04-23 14:13] jmrunge commented on #80
As talked by chat, this should be resolved by using toString() in every comparission, even with Caspa's fix.  Please @fabriciocosta take care of this.

[2013-04-23 14:14] jmrunge commented on #78
Status @fabriciocosta ?

[2013-04-23 14:16] jmrunge commented on #76
PR #86 is merged into master.  Please take care of this issue ASAP.

[2013-04-23 14:17] jmrunge commented on #66
Status @Lacrymology ?

[2013-04-23 14:18] jmrunge commented on #50
Status @Lacrymology ?

[2013-04-23 14:18] jmrunge commented on #44
Status @Lacrymology ?

[2013-04-23 14:20] jmrunge commented on #41
I think this is done in #83 ? Please, @Lacrymology confirm and close if its ok.

[2013-04-23 14:22] jmrunge commented on #37
Status @Lacrymology ? I think #44 was solved already...

[2013-04-23 14:24] jmrunge commented on #19
I think this was done in #74 .  @fabriciocosta can you confirm?  And, please change the black image to something different (mbc-playout logo image?) so we can know when black image is playing and when we get a black screen (if this fails).

[2013-04-23 14:25] jmrunge commented on #15
@csrocha Any progress with this?

[2013-04-23 14:26] jmrunge commented on #9
I think this is done in #74 .  Can you confirm @fabriciocosta ?

[2013-04-23 14:26] jmrunge commented on #8
@Lacrymology I think this is done already, doesnt it?

[2013-04-23 14:27] fabriciocosta commented on #9
Im checking everything right now.
El abr 23, 2013 11:26 AM, "Juan Martin Runge" notifications@github.com
escribió:

[2013-04-23 14:28] jmrunge commented on #56
Any new thought about this? @Lacrymology @xaiki @fabriciocosta ?

[2013-04-23 14:29] jmrunge commented on #6
I think this is done in #74 .  @fabriciocosta ?

[2013-04-23 14:44] #79 closed, assigned to Lacrymology

[2013-04-23 14:45] Lacrymology commented on #8
yes

[2013-04-23 14:45] #8 closed, assigned to Lacrymology

[2013-04-23 14:47] Lacrymology commented on #80
I'll do it myself

[2013-04-23 14:54] jmrunge commented on #80
Ok, as you wish.

2013/4/23 Tomas Neme notifications@github.com

[2013-04-23 15:58] fabriciocosta commented on #19
Well, i named it "black" in config.json. And based and what i understand about mlt it takes whatever you put there (.mp4, .mov, etc) . By default it's named "../../images/black.png" , the "../../" it's because we are using "./test/playlist" as base directory for xml files. I didn't tested it with a video media, but it should work. Maybe it's better to have a black/static screen, and a video/loop v

[2013-04-23 15:59] fabriciocosta commented on #13
I'm ok with that, we need fps and frame length to be able to make the comparison.

[2013-04-23 16:04] fabriciocosta commented on #9
Yes, it is supposed to work like that. I need to put that 4 hours span in the config now. There's another span for the scheduled clips, each hour it checks for new playlist himself completing the 4 hours time window. That should be in the config too. I'm testing this as we speak.

[2013-04-23 16:07] fabriciocosta commented on #6
Yes it's done and works well for creates and updates, but i fixed already bugs for update>remove playlists. I'm posting an issue on this and the fix too. Something i would like to comment on caspa: i didnt receive any notice nor event when the clips of a playlist has updated in caspa. I'm testing it again, maybe it is already fixed.

[2013-04-23 16:11] fabriciocosta commented on #50
It works for me, as mosto makes the (from,to) window advance. I need to test it more, with smaller and bigger timespans.

[2013-04-23 16:14] Lacrymology commented on #50
"works for me" is not an answer.

We need mocha tests

[2013-04-23 16:15] fabriciocosta opened #89 "removePlaylist callback breaks mosto."
We have an old removePlaylist based on name... fixing it right now.

[2013-04-23 16:23] fabriciocosta commented on #76
Ok, it's done. Check pull request #88 .

[2013-04-23 17:23] #66 closed, assigned to Lacrymology

[2013-04-23 17:23] Lacrymology commented on #44
idem

[2013-04-23 18:46] Lacrymology commented on #13
what's the difference between fps and frame length?

oh, you mean the length of the video in frames?

[2013-04-23 19:01] fabriciocosta commented on #13
Yes. I can calculate frames length with a length formatted like that "01:35:58.33" with his "fps" as "25,001" for example. I can also do a validation or check in mosto as the server_playlist returned by getServerPlaylist give me this information. It will be nice to have it from Caspa, and make Mosto just check it. Is it possible?

[2013-04-23 19:15] #41 closed, assigned to Lacrymology

[2013-04-23 19:54] xaiki commented on #56
no we don't.
logic goes like this.
caspa gets info from pub sub.
but times the 'tick' status.
if no tick, mosto is down.
we don't need to actively take care of this in mosto.

On 23 April 2013 11:28, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-04-23 19:56] #80 closed, assigned to Lacrymology

[2013-04-23 19:58] xaiki commented on #19
config should be more descriptive than 'black'
if not it's going to be impossible to define from caspa.

@jmrunge, you should give fabricio a model (i.e. a {}) of what is needed
(strictly) to be able to generate inteligently.

we don't need black.png, there is a color consumer.

On 23 April 2013 12:58, Fabricio Costa Alisedo notifications@github.comwrote:

##

Niv Sardi

[2013-04-23 19:58] xaiki commented on #9
@fabriciocosta
if it's fixed close the bug refering to the commit that closes it.

On 23 April 2013 13:04, Fabricio Costa Alisedo notifications@github.comwrote:

##

Niv Sardi

[2013-04-23 20:09] xaiki commented on #6
@fabriciocosta
fixed -> close + commithash

On 23 April 2013 13:07, Fabricio Costa Alisedo notifications@github.comwrote:

##

Niv Sardi

[2013-04-23 21:59] Lacrymology commented on #56
ok, but note:

this is for between mosto startup, and playlists setup.

I'm good with this solution, but please open an issue in caspa for it

[2013-04-24 00:23] jmrunge commented on #19
What I had in mind is that every TV station could configure what to show. I had thought by default (in config) a png with mbc playout logo. Not sure what do you mean with a model or more inteligently. Can you explain your idea?

-----Original Message-----
From: Niv Sardi notifications@github.com
Date: Tue, 23 Apr 2013 12:58:01
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic

[2013-04-24 02:07] jmrunge commented on #89
This will get fixed when #88 gets merged?

[2013-04-24 02:08] jmrunge commented on #78
Will it be fixed in #88?

[2013-04-24 02:09] jmrunge commented on #72
@fabriciocosta ?

[2013-04-24 04:01] xaiki commented on #13
Forma now get it from melted
On Apr 23, 2013 4:01 PM, "Fabricio Costa Alisedo" notifications@github.com
wrote:

[2013-04-24 04:05] xaiki commented on #56
(I'm not paid for this, just an open source enthusiast  :-)  please open a
caspa issue for this)
On Apr 23, 2013 6:59 PM, "Tomas Neme" notifications@github.com wrote:

[2013-04-24 04:05] xaiki commented on #19
Something node-mlt could grok.
We need more than PNG.

Color,
PNG
Pngs
Video
....
On Apr 23, 2013 9:23 PM, "Juan Martin Runge" notifications@github.com
wrote:

[2013-04-24 12:20] fabriciocosta commented on #78
Yes i will change my commits to close this issue as well.
El abr 23, 2013 11:08 PM, "Juan Martin Runge" notifications@github.com
escribió:

[2013-04-24 14:34] Lacrymology commented on #56
=)

you're right, sorry

[2013-04-24 14:38] csrocha opened #92 "Mosto prototype timer not end by clear."
Simple:

[code]
-        self.timer.clear();
-       clearInterval(self.timer);
       self.timer = null;
   }

[2013-04-24 14:53] fabriciocosta commented on #73
The creation of BlackMedia or BlankMedia could be placed in utils? Also self.config.black must be renamed as self.config.blank .
Well, we need to discuss a little more about this, because if we use a clip we must define the behavior we want first. If blank is a clip we need to set "in" and "out" parameters to control clip length. I'm checking any loop options in melted. So a standard solution will

[2013-04-24 15:35] #6 closed, assigned to fabriciocosta

[2013-04-24 15:35] #9 closed, assigned to fabriciocosta

[2013-04-24 15:35] #76 closed, assigned to jmrunge

[2013-04-24 15:35] #77 closed, assigned to fabriciocosta

[2013-04-24 15:35] #19 closed, assigned to fabriciocosta

[2013-04-24 15:35] #72 closed, assigned to fabriciocosta

[2013-04-24 15:35] #78 closed, assigned to fabriciocosta

[2013-04-24 15:35] #89 closed, assigned to fabriciocosta

[2013-04-24 15:48] Lacrymology commented on #50
not closed

[2013-04-25 00:02] xaiki commented on #73
On 24 April 2013 11:53, Fabricio Costa Alisedo notifications@github.comwrote:

I think we should use a node-mlt compatible structure.
and default to an animated version of our Malbec logo.

using it that way, we then would need a small editor in Caspa,
but at least we can edit the string in the config straight away.

[2013-04-25 02:57] xaiki commented on #55
for now it'd be nice to push this for malbecday.
@csrocha had some code working arround this lane.

[2013-04-25 11:35] jmrunge commented on #55
Will be glad to do it!

2013/4/24 Niv Sardi notifications@github.com

[2013-04-26 13:45] fabriciocosta opened #93 "Playout doesnt go back to black if playlist removed."
This happens after a playlist has been played if the second playlist is removed, the scheduler just added the black media at the end of the last playlist, instead of filling it right to the next one or to the end of our time window span.

[2013-04-26 14:05] #93 closed, assigned to fabriciocosta

[2013-04-30 20:59] xaiki opened #96 "mosto should start clips on the right frame."
right now, when loading a clip at a partial position,
mosto first shows the first frame of the clip, and then jumps to the right frame.

it needs to start playing at the right frame.

[2013-04-30 20:59] xaiki opened #97 "mosto should detect wrong frame and jump."
mosto should detect that we are not playing the frame we're supposed to be playing and jump to it.

if for instance you drag a playlist in caspa and move it up/down 1 min, mosto should switch frames.

[2013-04-30 23:44] Lacrymology commented on #97
I see that behavior (moving the playlist)

[2013-04-30 23:51] Lacrymology commented on #97
ok, no I don't I was seeing it change clips.

[2013-04-30 23:58] #56 closed, assigned to Lacrymology

[2013-05-01 00:11] xaiki commented on #97
I'm talking about frames.
if you move a clip 5mins, it should seek.

we need to be frame perfect.

On 30 April 2013 20:51, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-05-01 14:10] Lacrymology commented on #97
here's some working code https://github.com/inaes-tic/mbc-mosto/compare/Lacrymology;jump-to-frame

by no means production-grade

[2013-05-01 18:16] xaiki commented on #97
https://github.com/inaes-tic/mbc-mosto/commit/1f84d08983e9eba08193ae2dcff84d0628d866e8

this looks quite nicer.
anyway, something much more than this is needed.
and something much less hackish.

On 1 May 2013 11:10, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-05-01 21:24] Lacrymology commented on #97
that code doesn't seem to work, it compares clip time with playlist time, and I don't think it's quite as simple as that anyways. AFAIK, the melted driver doesn't keep playlists, just clips.

I don't think my code is particularily hackish it compares current frame with expected, and if there's a difference, it calls goto, what's hackish about that?

Maybe the used instance variables are a little h

[2013-05-02 05:10] xaiki commented on #97
it'd just need a cumulative.

On 1 May 2013 18:24, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-05-02 21:06] Lacrymology commented on #97
that's what `utils.getFramePositionFromClock( current_time, clip_start, clip_length, fps )` does.

[2013-05-02 21:07] Lacrymology commented on #97
I mean, we **know** at what time the current clip was supposed to start, what's the point of falling back to the playlist?

[2013-05-02 21:09] Lacrymology commented on #97
oops, missclick

[2013-05-03 03:27] xaiki commented on #97
...
this code looks ugly.
if we're in playing, we shouldn't check we're playing.
anyway, leave it for after refactor.

[2013-05-03 15:22] Lacrymology commented on #97
Yep, you just don't understand my code and criticize it. That check for if we're playing isn't even part of my patch.

I just added a check for current vs expected frame, and a jump into the current code, and used the data that's already been harvested. I offered an example patch that works with the current codebase, and you showed some code that has nowhere to be put into.

So if what you want to

[2013-05-03 15:24] Lacrymology commented on #97
What I mean is, I offered a fix to the current code that fixes this issue (clarifying that it's by NO MEANS a full solution, but just some code skeleton), and you say "it's ugly" and present some code that not only would NOT work, but it's not even based on a working version of the software.

It's pretty unnerving, to be perfectly sincere

[2013-05-04 17:43] xaiki commented on #97
El viernes, 3 de mayo de 2013, Tomas Neme escribió:

##

Sent from Gmail Mobile

[2013-05-04 17:46] Lacrymology commented on #97
but I need to accept "this code is ugly"? What am I supposed to understand
if you say my code is ugly and your argument is something that, I repeat,
is not even part of my patch? And your proposed solution doesn't even work.
I'm sorry, you're the one being disrepectful here

[2013-05-04 18:06] xaiki commented on #97
El sábado, 4 de mayo de 2013, Tomas Neme escribió:

Look at it.
It is. And you know it. No as hominem in that
It's the wrong Place to do this, done the wrong way. On code we agreed to
refactor. Out of your priorities.

That you should not do it this way.
And that I trust you and expect you to write better code.

 You're obviously mixing things and are far too emotional to resolve this
here
Drop it

[2013-05-06 19:32] #82 closed, assigned to csrocha

[2013-05-06 19:57] Lacrymology commented on #50
#99

[2013-05-06 20:09] Lacrymology commented on #43
Almost done, a very small fix in #100

[2013-05-06 20:09] Lacrymology commented on #25
done in #90

[2013-05-06 20:09] #25 closed, assigned to Lacrymology

[2013-05-06 20:11] Lacrymology commented on #10
I'm not certain we want this anymore. @xaiki said in case of a mosto fail, caspa should know it's down and raise alarms

[2013-05-06 20:40] xaiki commented on #10
El lunes, 6 de mayo de 2013, Tomas Neme escribió:

Yup.

Please focus in testing for these 2 days

##

Sent from Gmail Mobile

[2013-05-07 04:03] jmrunge commented on #10
2013/5/6 Niv Sardi notifications@github.com

Idem, can you close issue please?

[2013-05-07 18:43] #10 closed, assigned to Lacrymology

[2013-05-09 14:04] jmrunge commented on #73
For the moment, can we at least change the image to Malbec's logo or a color bar image?  Its quite confusing if we have a black image, we dont know if it is showing or not.

[2013-05-11 21:52] #43 closed, assigned to Lacrymology

[2013-06-14 18:49] Lacrymology opened #107 "fix current/previous/next playlist building when current clip is blank media"
Current playlist should show `"INVALID"` and previous and next playlists should be found by date

[2013-06-14 20:11] Lacrymology opened #108 "Make consecutive blank clips into a single clip with many repetitions"
Right now the blank clip gets repeated as different XMLs and loaded separateldy into melted.

This brings a number of problems, from performance, to the fact that the status reports (e.g.) current and next clips as "blank". Rather that fixing this at the status building step, making a single XML file with repeated `<entry>` elements in the playlist (or repeated `<playlist>` elements in the tractor

[2013-06-21 13:55] josx opened #109 "Blank.html has hardcoded path"
On https://github.com/inaes-tic/mbc-mosto/blob/master/test/videos/blank.xml  you have hardcoded you path.

[2013-06-21 16:43] Lacrymology commented on #109
I know. This should not only not be hardcoded, but there also should be some way of defining this either via the settings, or some sort of editor

[2013-06-26 03:49] xaiki commented on #109
you should generate these from a setting string and node-mlt.

On 21 June 2013 13:43, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-06-26 13:50] jmrunge commented on #109
Well, it is generated via node-mlt to load it into melted, but it is
already an xml and I think it is ok this way for testing.  In production,
users should be able to select a video or image and set filters they would
like to see on top of it.  Im now fixing the hardcoded value inside the xml
and inside models/Mosto.js.

2013/6/26 Niv Sardi notifications@github.com

[2013-07-03 12:52] jmrunge opened #113 "Improve xml deletion from Heartbeat's gc"
Heartbeat's garbage collector should retrieve xml files from xml dir and then check if this xml is in use by melted collection.  If not, delete it.  And it should run more frequently, not 1 time per hour (by default, the value itself should be configurable).
To achieve this, Clip Model should be modified to store the xml filename and this value should be filled on Clip creation.

[2013-07-03 17:46] #109 closed, assigned to nobody

[2013-07-05 02:46] jmrunge commented on #97
Fixed after backbone refactor.

[2013-07-05 02:46] #97 closed, assigned to fabriciocosta

[2013-07-05 02:46] jmrunge commented on #96
Fixed after backbone refactor.

[2013-07-05 02:46] #96 closed, assigned to fabriciocosta

[2013-07-05 02:47] jmrunge commented on #92
Timer was removed in backbone refactor.

[2013-07-05 02:47] #92 closed, assigned to csrocha

[2013-07-05 02:51] jmrunge commented on #68
This was fixed with Melted api object, using a semaphore.

[2013-07-05 02:51] #68 closed, assigned to csrocha

[2013-07-05 02:53] jmrunge commented on #50
Mongo driver setWindow function was dropped.  Now mosto controls this behaviour.

[2013-07-05 02:53] #50 closed, assigned to Lacrymology

[2013-07-05 02:55] jmrunge commented on #34
Test are silent now.  Despite this, we still have to find a logging facility.

[2013-07-05 02:55] #34 closed, assigned to csrocha

[2013-07-05 02:57] jmrunge commented on #32
Done in backbone refactor.

[2013-07-05 02:57] #32 closed, assigned to jmrunge

[2013-08-05 18:24] jmrunge commented on #15
Closed by #116

[2013-08-05 18:24] #15 closed, assigned to csrocha

[2013-08-05 18:26] jmrunge commented on #55
Closed with restart by #115

[2013-08-05 18:26] #55 closed, assigned to jmrunge

[2013-08-05 18:27] jmrunge opened #117 "Move hardcoded values to config"
Right now there are some values hardcoded that should be in common/config.

[2013-08-06 00:30] josx commented on #117
maybe you can do a list, so anyone can help

[2013-08-06 02:23] jmrunge opened #118 "Check Blanks insertions"
No matter playlists are scheduled one right after the other in Caspa, Mosto inserts a small (8 frames) blank clip between them.  It should check 2 things: if playlists is snap or direct mode #7 and if there is less than 1 second (config value) between the end o one playlist and the start of the other.

[2013-08-06 10:54] xaiki commented on #118
isn't this a bug in caspa ?
we should be frame prefect by now.
if we loose 8 frames each time, there are things that are going to be wrong
in the long run.

On 5 August 2013 23:23, Juan Martin Runge notifications@github.com wrote:

##

Niv Sardi

[2013-09-17 20:06] Lacrymology commented on #13
I've been thinking about this, and I'm not sure if it can be done. Melted gets the clip length from the XMLs, and the XMLs are built from the DB data. The bottom line is, we don't have a way to double-check this from melted.

So is this issue valid?

[2013-09-17 20:07] Lacrymology commented on #37
Do we keep the JSON driver?

[2013-09-17 20:08] Lacrymology commented on #44
The generic playlist driver doesn't expose any interface now

[2013-09-17 20:08] #44 closed, assigned to Lacrymology

[2013-09-17 20:16] xaiki commented on #13
yep, if we need to hack melt/melted, that's not an issue for me, we already
know that it makes heavy processing on load (cpu).

On 17 September 2013 17:06, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-09-17 20:17] xaiki commented on #37
no if we have a replacement as a test harness to test the rest of the code.

On 17 September 2013 17:07, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-09-17 20:24] Lacrymology commented on #61
I wonder why things like "appendClip" are in `drivers/mvcp/` and not in `melted-node`. What's the point of `melted-node` exactly, if it doesn't have knowledge of the mvcp protocol?

@xaiki ping

[2013-09-17 20:29] Lacrymology commented on #71
This is not in mosto anymore. Caspa is supposed to handle this, and mosto just picks up whatever schedules reach the database

[2013-09-17 20:29] #71 closed, assigned to fabriciocosta

[2013-09-17 20:31] Lacrymology commented on #73
This is fixed. It's handled by the Mosto.MeltedCollection Backbone collection now. A new issue should be open to allow creation of a long blank clip by joining several blank tracks.

[2013-09-17 20:31] #73 closed, assigned to fabriciocosta

[2013-09-17 20:53] Lacrymology commented on #13
DTISC

I just checked, and whatever you mark as the length of the clip in the XML, the result of `list u0` says the actual length of the clip

I just created an XML that reports that the clip out should be 35474 (len + 10) and `list u0` reports

[code]

[2013-09-17 21:00] Lacrymology commented on #37
hm, all I can say right now is that current tests go through 46% of mongo playlists driver, but nothing of json driver

I'm not sure what we're testing or not testing with(out) going through any playlists drivers.

Parts of the functional test (specifically the ones that depend on the playlist driver) are not running yet (because they will depend on changes in caspa)

[2013-09-17 21:12] jmrunge commented on #73
Please create the issue then.

-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Tue, 17 Sep 2013 13:31:58
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Cc: Juan Martin Rungejmrunge@gmail.com
Subject: Re: [mbc-mosto] Review BlackMedia creation (#73)

This is fixed. It's handled by the Mosto.MeltedCollection Backbon

[2013-09-17 21:17] Lacrymology commented on #107
with the current setup, this should be handled by caspa.

When mosto doesn't know about the show (it's not loaded in the playlists collection), it sends an empty  object `{}`, when it's an invalid show (a clip with no playlist, like BlankClip), it sends `_id: -1`, otherwise, it sends `_id: <schedule id>`

I'm not convinced this is the right approach, but a communications protocol was never properl

[2013-09-17 21:18] Lacrymology commented on #73
it already was there: #108

[2013-09-17 21:19] Lacrymology commented on #113
Today I wasn't able to run `$ rm test/playlists/*`, `rm` returned with an `parameter list too long` error =(

[2013-09-18 02:34] jmrunge commented on #113
Garbage collection isnt working at all at the moment, I found bugs in its
original implementation and leaved it for a redesign in the future (which
hasnt happened yet).

2013/9/17 Tomas Neme notifications@github.com

[2013-09-18 02:36] jmrunge commented on #107
Why does caspa never (or almost never) show previous clip and previous
show?  Are we sure we are sending them? (thats why I left this issue
opened, I wanted to make sure of this).

2013/9/17 Tomas Neme notifications@github.com

[2013-09-18 02:38] jmrunge commented on #37
I would like to keep the JSON driver.  Its not only a way to test mosto,
its also a way to easily use mosto without caspa.

2013/9/17 Tomas Neme notifications@github.com

[2013-09-18 02:48] jmrunge commented on #61
For me, melted node is a transport between melted and mosto.  Its only
responsibility is to make sure it is connected to melted (or give notice of
the opposite) and feed it with commands, sending then the responses to the
client.  Sure it could implement the complete mvcp protocol, but I would
prefer to keep it the way it is, I think is cleaner.  Its my opinion.

2013/9/17 Tomas Neme notifications

[2013-09-18 12:27] xaiki commented on #13
Great, so we can actually test.

##

Niv Sardi, mobile.
On Sep 17, 2013 5:53 PM, "Tomas Neme" notifications@github.com wrote:

[2013-09-18 12:30] xaiki commented on #37
If it's only for mosto without caspa we let it die,... The overhead is toó
high right now.

Again, either we do the same with our  test harness or we fix it.

##

Niv Sardi, mobile.
On Sep 17, 2013 11:38 PM, "Juan Martin Runge" notifications@github.com
wrote:

[2013-09-18 14:43] Lacrymology commented on #61
The problem I see right now is with responsibility separation.

Right now melted-node knows how to parse MVCP responses, but doesn't know
MVCP commands, and doesn't even have an expectancy table of which responses
should what commands return.

What I think is that mvcp driver should convert Media objects to XML, and
cover only the subset of MVCP commands that mosto uses. Melted-node should
handle

[2013-09-18 17:30] Lacrymology commented on #107
no, we're not, because in most cases previous clip / show are not loaded into mosto. The fact that invalid show sends `id = -1` and unknown sends `{}` is so caspa can look for the expected previous show.

I don't know what's the right behavior here. If we should show the historically previous show, whatever the programming says, we need to keep track of this somewhere, and keep it between mosto re

[2013-09-18 18:08] jmrunge commented on #61
Well, as talked on the chat, we will maintain this issue opened as a
reminder of moving mvcp driver methods (apnd, load, move, etc) to melted
node and let mvcp driver just implement methods needed by mosto.

2013/9/18 Tomas Neme notifications@github.com

[2013-09-18 18:09] jmrunge commented on #37
I think there is no overhead... let me take a look at it and write its
test... it should not take more than 2 hours.

2013/9/18 Niv Sardi notifications@github.com

[2013-09-25 19:50] jmrunge opened #124 "Fix tests"
Fix current tests and make them cover at least 90% of our code

[2013-09-25 19:50] jmrunge opened #125 "Add coverage test"
Add a test from coverage that makes sure that #124 is done.

[2013-09-25 20:05] jmrunge opened #126 "Stop loading clips if new playlist is received"
If mosto is loading clips into caspa and receives a notification that new playlist has come to replace current, it should abort current loading and start loading the new playlist.

[2013-09-25 20:08] jmrunge opened #127 "Control melted"
Change current api/Melted.js to something better.  Also add a script to load melted on OS init, check if its loaded and reload it if necessary.

[2013-09-25 20:24] jmrunge opened #128 "Make mosto send complete status on request from Caspa"
When caspa loads for first time it should send mosto a message to force him to send a complete status instead a partial status

[2013-09-26 13:54] jmrunge opened #129 "Use mbc-common logging"
Mosto's logger has been incorporated into mbc-common.  We should remove logger code from mosto and import it from common.

[2013-09-26 17:31] josx commented on #129
I have ported mosto logger with some tweaks to mbc-common
Wait until the team finnishs to review and merge PR https://github.com/inaes-tic/mbc-common/pull/18.

[2013-09-27 15:32] jmrunge commented on #129
Well, https://github.com/inaes-tic/mbc-common/pull/18 is in, so we can
proceed with this.

2013/9/26 José Luis Di Biase notifications@github.com

[2013-09-27 20:09] josx commented on #129
@jmrunge  I can work on that

[2013-09-28 12:09] josx commented on #129
@jmrunge  Please check it out on https://github.com/inaes-tic/mbc-mosto/pull/130

[2013-09-28 13:37] xaiki commented on #129
#130 merged

[2013-09-28 13:37] #129 closed, assigned to Lacrymology

[2013-10-18 21:22] darthpolly opened #132 "Check clip lenght based on mosto status"
As Tom requested.

[2013-10-18 22:11] darthpolly opened #133 "Sync/Seek handling"
I experienced a syncing issue after ~1h of playback. The visual result was that in an interval of ~30secs the actual second of the current clip was reproduced twice, like a 1 second seek backwards.

This might be expected, however i think seeking is not the right way to handle a resynchronization. It is too aggressive, visually speaking, and it feels as if the software were not reproducing properl

[2013-10-19 01:16] xaiki commented on #133
It's a hard problem, and probably a bug in libmlt.
I don't think we need to fix it in mosto.

On 18 October 2013 19:11, Patricio Reboratti notifications@github.comwrote:

##

Niv Sardi

[2013-10-19 01:16] xaiki commented on #133
(let's find the culprit, and fix/report-it in mlt/melted/...)

On 18 October 2013 22:16, Niv Sardi xaiki@evilgiggle.com wrote:

##

Niv Sardi

[2013-10-19 01:22] Lacrymology commented on #133
I wonder now if this doesn't have to do with the issue we found today about
the difference between DB and melted framerate..

[2013-10-19 01:23] Lacrymology commented on #133
having the offending clip to test would be great

[2013-10-19 03:19] xaiki commented on #133
if it's fixed by unifying entry, then we don't worry about it.
it'll be fixed when we do the ingester.

On 18 October 2013 22:23, Tomas Neme notifications@github.com wrote:

##

Niv Sardi

[2013-10-19 04:17] Lacrymology commented on #133
I IMAGINE that's it, but I'm not sure

[2013-10-19 11:44] josx commented on #133
In the meantime:
maybe we can add to the scraper a ffmpeg pipeline to force the video fps or whatever we want.

[2013-10-19 18:27] xaiki commented on #133
On 19 October 2013 08:44, José Luis Di Biase notifications@github.comwrote:

we could, but it's REALLY dangerous, it works only for tests.
I'd rather REJECT and notify when ingesting​​, that will help us set ui
ground work for the injester anyway.

[2013-11-06 16:25] Lacrymology opened #134 "Running the functional test deletes the production database"
this happened when hardcoded config was changed to common config

[2013-11-06 16:59] jmrunge commented on #134
Can you fix it?
-----Original Message-----
From: Tomas Neme notifications@github.com
Date: Wed, 06 Nov 2013 08:25:14
To: inaes-tic/mbc-mostombc-mosto@noreply.github.com
Reply-To: inaes-tic/mbc-mosto reply@reply.github.com
Subject: [mbc-mosto] Running the functional test deletes the production
 database (#134)

this happened when hardcoded config was changed to common config

---

Reply to this ema

[2013-11-06 17:01] Lacrymology commented on #134
it's probably easy, but I don't have free cycles right now

[2013-11-07 20:13] josx commented on #134
You need to do something like this:

[code]

[2013-11-08 15:52] darthpolly commented on #124
JMR is checking the last test

[2013-11-11 20:13] Lacrymology opened #135 "sometimes heartbeats sends sync faster than expected"
see branch jmrunge/sync-timeout

[2013-11-15 12:32] #133 closed, assigned to nobody

[2013-11-15 13:08] deedos opened #137 "Separate melted conf from mosto/caspa as an option"
Hi.

Is there any way to start melted with it ´s own conf and then start mosto to use it ? I ´m getting to nice results (multi consumer config with decklink and avformat streaming, for example..) but when I call mosto, i does not use the melted consumers. I did achieve something changing the melted hardcoded options in Melted.js  but I think would be better to separate it.

thanks

[2013-11-15 13:55] jmrunge commented on #137
2013/11/15 Daniel Roviriego notifications@github.com

Kind Regards,

[2013-11-15 16:10] jmrunge commented on #133
This should be fixed in last master.  @darthpolly could you check if you
can reproduce now? If not, please close the issue. Thanks.

2013/10/19 Niv Sardi notifications@github.com

[2013-11-15 19:36] darthpolly commented on #133
I will check, though we first experienced this issue on @lvidarte 's laptop
so he should check it too before closing the issue.

On Fri, Nov 15, 2013 at 1:10 PM, Juan Martin Runge <notifications@github.com

##

DP.-

[2013-11-20 17:20] Lacrymology commented on #135
Fixed in 05b9c71ca6fd02414247ed2bf0b551cde1b0f518

[2013-11-27 04:10] #134 closed, assigned to Lacrymology

[2014-05-23 18:21] streamel opened #150 "error on git clone"

[2014-05-23 18:37] #150 closed, assigned to nobody